@page "/about"
@rendermode InteractiveServer
<PageTitle>About</PageTitle>
<h3>About</h3>
<MudMainContent>
    <MudGrid>
        <MudItem xs="12" sm="6" md="5" lg="4" xl="3" xxl="2">
            <MudCard>
                <MudCardMedia Image="content/misc/DSC00237.JPG" Height="600" Class="object-scale-down"></MudCardMedia>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Hi there!</MudText>
                    <MudText Typo="Typo.body2">Welcome to my virtual gallery.</MudText>
                    <MudText Typo="Typo.body2">My name is Alexander and i am an artist based in Cologne, Germany.</MudText>
                    <MudText Typo="Typo.body2">There i am sharing my current projects and art, but you also can find me on other platforms. Please feel free to write me if you like my art, want to have a cool sticker or get a photo!</MudText>
                </MudCardContent>
                <MudCardContent>
                    <MudText Typo="Typo.h5">Hallöchen!</MudText>
                    <MudText Typo="Typo.body2">Herzlich wilkommen, hier ist meine virtuelle Gallerie.</MudText>
                    <MudText Typo="Typo.body2">Ich heiße Alexander und ich bin ein künstler aus Köln.</MudText>
                    <MudText Typo="Typo.body2">Auf dieser Seite teile ich meine Kunst mit euch, aber ihr könnt mich auch auf anderen Platformen finden. Schreibt mich ruhig an, falls ihnen irgendwas gefällt oder ihr gern ein cooles Sticker haben wollt.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="6" lg="6" xl="6" xxl="6">
            <MudPaper Width="300px">
                <MudList T="string">
                    <MudListItem Href="https://www.instagram.com/ostelaymetaule/">
                        <AvatarContent>
                            <MudAvatar>
                                <MudIcon Icon="@Icons.Material.Filled.Image" Color="Color.Primary" />
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Instagram
                        </ChildContent>
                    </MudListItem>
                    <MudListItem Href="https://github.com/ostelaymetaule">
                        <AvatarContent>
                            <MudAvatar>
                                <MudIcon Icon="@Icons.Material.Filled.Work" Color="Color.Primary" />
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Github
                        </ChildContent>
                    </MudListItem>
                    <MudListItem Href="https://t.me/Ingink">
                        <AvatarContent>
                            <MudAvatar Color="Color.Tertiary">TG</MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            Telegram
                        </ChildContent>
                    </MudListItem>
                    <MudListItem Href="https://www.deviantart.com/grafyth">
                        <AvatarContent>
                            <MudAvatar Color="Color.Tertiary">DA</MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            DeviantArt
                        </ChildContent>
                    </MudListItem>
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudMainContent>
@code {

}
